node_modules
dist
dist-ssr
*.local

.env
.env.local
.env.*.local

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

# Work documents that do not belong in this repo
*.docx
