@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f6f9fb;
  color: #0d2f45;
  overscroll-behavior-y: none;
}
